{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/chat.css' %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>TestTask</title>
  </head>
  <body style="background:whitesmoke;"  onload="getListChats()">

<div class="container" >

        <div class="row justify-content-center" >

                <div class="col-sm-3">
                    <div class="infoChat">
                        <button type="button" class="btn" style="display: flex; margin: 0 auto;" data-toggle="modal" data-target="#exampleModal">
                              добавить чат
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="ChatModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="ChatModalLabel">Введите наименование чата</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <input type="text" class="form-control" name="username" id="nameChat">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="AddChat(nameChat.value)">Добавить</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                    <div class="blockChats">
                        <div class="">
                            <ul class="listChats"></ul>
                        </div>
                    </div>
                </div>
            <div class="col justify-content-center align-items-center">
                <div class="col-sm-12 infoChat ">
                    <div style="padding: 8px;">
                        <span>наименование чата: <input type="text" class="takeNameChat" value="" style="background: white; border: 0" disabled> </span>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn float-right" style="padding: 0 5px 0 5px" data-toggle="modal" data-target="#UserModal">
                          добавить пользователей
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="UserModalLabel">Введите логин пользователя</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <input type="text" class="form-control" name="username" id="loginUser">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="AddUserChat(loginUser.value)">Добавить</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 frame" style="margin-left: auto; margin-right: auto; margin-top:10px">
                    <ul class="listMess"></ul>
                </div>

                <div class="col-sm-7" style="margin-left: auto; margin-right: auto; margin-top:10px">
                    <div class="msj-rta">
                            <input class="mytext" id="mytxt" placeholder="Напишите сообщение.."/>
                            <button type="button" class="btn btn-secondary btn-sm "  style="width: 60px" onclick="SendMessage(mytxt.value)">
                                <svg id="i-send" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M2 16 L30 2 16 30 12 20 Z M30 2 L12 20" />
                                </svg>
                            </button>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="log_out" data-toggle="modal" data-target="#LogOutModal" >
                    <svg id="i-signout" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M28 16 L8 16 M20 8 L28 16 20 24 M11 28 L3 28 3 4 11 4" />
                    </svg>
                </button>
                        <!-- Modal -->
                        <div class="modal fade" id="LogOutModal" tabindex="-1" role="dialog" aria-labelledby="LogOutModalabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="LogOutModalabel">Вы действительно хотите выйти системы?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body" style="margin: 0 auto">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Нет</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="logOut()">Да</button>
                              </div>
                            </div>
                          </div>
                        </div>
            </div>
        </div>

	    <script src="{% static 'js/chat.js' %}"></script>

  </body>
</html>